body {
  padding: 100px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  display: inline-block;
}

small {
  color: #8a8a8a;
}

.container {
  margin: 0 auto;
}

.day-weather {
  padding: 5px;
}

.units {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.card-navigation {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 15px;
  border: 1px solid #dadde1;
  border-radius: 8px;
}

.card-weather {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 15px 15px;
  border: 1px solid #dadde1;
  border-radius: 8px;
}

.weather-forecast {
  margin-top: 35px;
}

#day-weather {
  padding: 10px;
}

#current-location {
  margin-top: 10px;
  float: right;
}

#current-temperature {
  font-size: 50px;
}
