body {
  padding: 100px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.day-weather {
  padding: 10px;
}

.units {
  font-size: 16px;
}
.card-navigation {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 15px;
  border: 1px solid #dadde1;
}

#day-weather {
  padding: 80px;
}
